.site-navigation {
  margin-top: 2rem;
  padding: 0 1rem;
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  color: #333;
  text-decoration: none;
  transition: opacity .125s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    color: #000 !important;
  }
}

.site-navigation:hover,
.site-navigation:focus-within {
  a {
    opacity: .7;
  }
}

.site-navigation li.active a {
  text-decoration: underline;
}
