@mixin divider {
  display: block;
  width: 152px;
  height: 12px;
  margin: .5em auto 0;

  background-color: var(--divider-color);

  -webkit-mask: url(#{$asset_url}/images/divider.svg) no-repeat center;
  mask: url(#{$asset_url}/images/divider.svg) no-repeat center;

  -webkit-mask-size: contain;
  mask-size: contain;
}
